.DisplayCode{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    
}
.title{
    display: flex;
    justify-content: center;
    background-color: #467302;
    width: 100%;
    width: 200px;
    height: 50px;
    color: #FFFFFF;
}

.imageProduit{
    grid-column: 2;
    grid-row: 1;
}

.niveaunutritif{
    grid-column: 1;
    grid-row: 2;
}
.proximite{
    grid-column: 2;
    grid-row: 2;
}
