*{
  margin: 0;
  padding: 0;

}
.body{
  background-image: url(../../assets/home.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  min-height: 800px;
}
.logomain{
  display: flex;
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  width: 150px;
  height: 150px;
}

.buttonScan{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #84BF04;
  border-radius: 10px;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
}
.wrapbutton{
  display: flex;
  grid-column: 1;
  grid-row: 2;
  justify-content: center;
  align-items: flex-start;
}

.buttonmenu{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #84BF04;
  border-radius: 10px;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
}
.wrapbutton2{
  display: flex;
  grid-column: 1;
  grid-row: 2;
  justify-content: center;
  padding: 100px;
}


