*{
  margin: 0;
  padding: 0;

}

.body{
  background-image: url(../../assets/home.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  min-height: 800px;
}
.logomain{
  display: flex;
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  width: 150px;
  height: 150px;
}

.buttonScan{
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #84BF04;
  border-radius: 10px;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
}
.divbutt{
  display: flex;
  grid-column: 1;
  grid-row: 2;
  justify-content: center;
  align-items: flex-start;
}
.buttonmenu{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #84BF04;
  border-radius: 10px;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
}
.divbutt2{
  display: flex;
  grid-column: 1;
  grid-row: 2;
  justify-content: center;
  padding: 100px;
}

/*.buttonconnect{
/*  order:2;
/*  height: 50px;
/*}
/*.button2 { 
/*  background-color: white ;
/*  color: #467302;
/*  border: none;
/*  border-radius: 10px;
/*  font-size: 20px;
/*}
/*.button1 {
/*  background-color: #467302;
/*  color: white;
/*  border: none;
/*  border-radius: 10px;
/*  font-size: 20px;
/*}
/*.containerbutton {
/*  display: flex;
/*  flex-direction: column;
/*  justify-content: center;
/*  grid-column: 2;
/*  grid-row: 2;
/*}
/*.nav-btn {
/*  display: flex;
/*  justify-content: space-around;
/*  align-items: center;
/*  margin: 0 auto;
/*  width: 100%;
/*  position: absolute;
/*  top: 8rem;
/*}
/*
/*.buttonmenu{
/*  width: 10rem;
/*  height: 3rem;
/*  color: white;
/*  background-color: #467302;
/*  border-radius: 10px;
/*  font-weight: 500;
/*}
/*
/*.buttonmenu:hover{
/*  background-color: #84BF04;
/*  cursor: pointer;
/*  
/*}
/*
/**/